/* Basic Set up */
body {
    background-image: url(../images/background.jpg);
    background-size: 150%;
    background-color: #232323;
}
.section{
    text-align: center;
} 
/* -------------------------------------- */

/* Logo/Title */
#logo {
    /* Img (logo) */
    height: 150px;
    width: 150px;

    /* Alt (title) */
    font-size: 25px;

    /* Both */
    margin: 0 auto;
    padding-top: 25%;
}
/* -------------------------------------- */

/* Navigation */
#nav {
    padding: 0px;
}
.nav-item {
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    padding-top: 30%;
    width: 33%;
}
/* -------------------------------------- */

/* Audio Player */
#audio-player { /* section */
    padding-top: 10%;
}
#selector { /*row */
    height: 35px;
    background-color: grey;
    border-radius: 10px;
}
#track-display {
    height: 100%;
    width: 80%;
}
#dropdown{
    height: 90%;
    width: 10%;
    background-color: white; 
}  
#play-pause-icon {
    height: 90%;
    width: 100%;
}
#play-pause {
    height: 90%;
    width: 10%;
}
/* -------------------------------------- */

/* Events Display */
#events-overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */

}
#events-overlay #closeEvents-btn {
    text-decoration: none;
    position: fixed;
    right: 5%;
    color: white;
    font-size: 60px;
}
#events-content {
    position: relative;
    top: 10%;
    width: 100%; 
    text-decoration: 
    color: white;
}

/* -------------------------------------- */

/* Footer */
#footer {
    width: 100%;
    bottom: 2%;
    position: fixed;
    text-align: center;
}
#footer a {
    text-decoration: none;
}
#footer a img {
    padding: 2% 2% 2%;
    height: 30px;
    width: 30px;
}
/* -------------------------------------- */

/* Desktop/Landscape View Fixes for Display Issues */
@media only screen and (orientation: Landscape) {
    body {
        background-size: 100%;
    }
    #logo {
        height: 250px;
        width: 250px;
        padding-top: 5%;
    }
    .nav-item {
        font-size: 34px;
        padding-top: 10%;
    }
    /* Footer */
    .social-item {
        padding: 0 1%;
        height: 60px;
        width: 60px;
    }
  }
/* -------------------------------------- */